/* HEADER */
body{
    margin: 0;
}
.nav{
    display: flex;
    background-color: green;
    border-radius: 10px;
    margin: 0;
    list-style: none;
}
li{
   
    padding: 20px;
}
.push{
    margin-left:auto;
}
a{
    
    color: white;
    text-decoration: none;
}
/* Section */
.image{
    background-color: red;
    height: 50vh;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 10px;
}

.box>img{
width: 100%;
}

.box{
    padding: 20px;
    background-color: grey;
}
footer{
    background-color: rgb(183, 183, 24);
    color: white;
    text-align: center;
    border-radius: 10px;
}



